.container {
  align-self: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

.menu-conteudo {
  display: flex;
  flex: 1;
}

.listar-classe {
  background: var(--gray);
  flex: 1;
  padding-top: 5vh;
}
