#mostra-alunado {
  color: black;
  margin: 1em auto;
  max-width: 100rem;
  height: 1%;
}

#mostra-alunado .go_to_icon {
  height: 1.8rem;
  margin-top: 4px;
}

#mostra-alunado .go_to {
  height: 2.8rem;
  min-width: 6rem;
  border-radius: 4px;
}

#mostra-alunado .go_to:hover {
  background-color: var(--blue);
}
