.dados-alunos {
  width: 100%;
}

.dados-alunos p {
  font: 600 2.5rem Poppins;
  text-align: center;
  margin: 2rem auto 0 auto;
}

.dados-alunos .input-block input, .select-block select {
  padding: 0 1rem;
}

.dados-alunos .identificaçao {
  background: var(--green);
  border-radius: 1rem;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
    "aluno aluno aluno aluno aluno aluno ra ra rm rm nee nee"
    "loca loca loca loca loca loca uf-nasc nac nac nac data-nasc data-nasc"
    "pai pai pai pai pai pai mae mae mae mae mae mae"
    "resp resp resp resp resp resp resp resp resp validade validade validade"
    ;
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 .5rem .5rem .5rem;
}

.dados-alunos .residencia {
  background: var(--green);
  border-radius: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "endereço endereço bairro bairro cidade"
    "telefones telefones observaçoes observaçoes observaçoes"
    ;
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 .5rem .1rem .5rem;
}

.dados-alunos .procedencia {
  background: var(--green);
  border-radius: 1rem;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 3.5fr 1.7fr 1.7fr 1fr 1.5fr 1fr;
  grid-template-areas: 
    "escola cidade ano-proc ex-aluno ano-desejado turma"
  ;
  margin: 0 auto 2vh auto;
  max-width: 90rem;
  padding: 0 .5rem .5rem .5rem;
}

.dados-alunos .buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5vh auto 5vh auto;
}

.dados-alunos .buttons input {
  align-items: center;
  border-radius: 0.8rem;
  border-width: 0;
  display: flex;
  font: 700 2rem Archivo;
  height: 5.6rem;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 11.5rem;
}

#btn-matricular {
  background: var(--green);
  color:var(--blue);
  margin-right: 1rem;
  width: 20rem;
}

#btn-matricular:hover {
  background: #52e728;
  cursor: pointer;
  text-decoration: underline;
}

#btn-limpar {
  background: var(--blue);
  color: #fff;
  margin-left: 1rem;
  width: 20rem;
}

#btn-limpar:hover {
  background-color: #3071f3;
  cursor: pointer;
  text-decoration: underline;
}

.dados-alunos textarea {
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  color: #000;
  font: 1.6rem Archivo;
  height: 5rem;
  resize: none;
  padding: .5rem 1rem;
}

.telefones textarea {
  width: 35rem;
}

.observaçoes textarea {
  width: 53rem;
}

.telefones {
  grid-area: telefones;
}

.turma {
  grid-area: turma;
}

.observaçoes {
  grid-area: observaçoes;
}

.escola {
  grid-area: escola;
}

.ex-aluno {
  grid-area: ex-aluno;
}

.ano-proc {
  grid-area: ano-proc;
}

.ano-desejado {
  grid-area: ano-desejado;
}

.endereço {
  grid-area: endereço;
}

.bairro {
  grid-area: bairro;
}

.cidade {
  grid-area: cidade;
}

.aluno {
  grid-area: aluno;
}

.rm {
  grid-area: rm;
}

.ra {
  grid-area: ra;
}

.localidade {
  grid-area: loca;
}

.uf-nasc {
  grid-area: uf-nasc;
}

.nacionalidade {
  grid-area: nac;
}

.data-nasc {
  grid-area: data-nasc;
}

.cert-nasc {
  grid-area: cert-nasc;
}

.livro {
  grid-area: livro;
}

.folha {
  grid-area: folha;
}

.distrito {
  grid-area: distrito;
}

.comarca {
  grid-area: comarca;
}

.uf-comarca {
  grid-area: uf-comarca;
}

.pai {
  grid-area: pai;
}

.mae {
  grid-area: mae;
}

.responsavel {
  grid-area: resp;
}

.validade {
  grid-area: validade;
}

.nee {
  grid-area: nee;
}
