.dados-pesquisa-alunos h2 {
  font: 600 2.5rem Poppins;
  text-align: center;
  margin: 2rem auto 0 auto;
}

.dados-pesquisa-alunos .input-block input,
.select-block select {
  padding: 0 1rem;
}

.dados-pesquisa-alunos .dados {
  background: var(--green);
  border-radius: 1rem;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    'aluno aluno aluno aluno aluno aluno ra ra nee nee'
    'ano turma professor professor professor professor bairro bairro bairro bairro';
  margin: 0 auto 5vh auto;
  max-width: 100rem;
  padding: 0.5rem;
}

.dados-pesquisa-alunos .buttons {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin: 0 auto 5vh auto;
  max-width: 100rem;
}

.professor {
  grid-area: professor;
}

.ano {
  grid-area: ano;
}

.turma {
  grid-area: turma;
}

.bairro {
  grid-area: bairro;
}

.aluno {
  grid-area: aluno;
}

.rm {
  grid-area: rm;
}

.ra {
  grid-area: ra;
}

.pai {
  grid-area: pai;
}

.mae {
  grid-area: mae;
}

.nee {
  grid-area: nee;
}
