.page-header {
  background: var(--blue);
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  width: 100vw;
}

.page-header .top-bar-container {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.6rem 0;
  width: 90%;
}

.page-header .header-content {
  align-items: flex-start;
  margin: 0 auto;
  padding: 0rem 1.6rem;
}

.page-header .header-content strong {
  color: var(--color-title-in-primary);
  font: 700 3rem Archivo;
  line-height: 0;
}
