.mostra-classes-editar {
  background: #ccc;
  margin: 3vh auto 0 auto;
  max-width: 100rem;
}

.excluir_icon {
  height: 2.5rem;
}

.mostra-classes-editar .excluir {
  height: 4rem;
  min-width: 6rem;
}

.mostra-classes-editar .excluir:hover {
  background-color: #d62d2d;
}

.editar_icon {
  height: 2.5rem;
}

.mostra-classes-editar .editar {
  height: 4rem;
  min-width: 6rem;
}

.mostra-classes-editar .editar:hover {
  background-color: #cc7500;
}
