.dados-pesquisa-alunos {
  padding: 1vh 0 1vh 0;
}

.dados-pesquisa-alunos p {
  font: 600 2.5rem Poppins;
  text-align: center;
  margin: 2rem auto 0 auto;
}

.dados-pesquisa-alunos .input-block input, .select-block select {
  padding: 0 1rem;
}

.dados-pesquisa-alunos .dados {
  background: var(--green);
  border-radius: 1rem;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    'aluno aluno aluno aluno ra ra rm nee nee nee'
    'ano turma professor professor professor professor bairro bairro bairro bairro';
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 .5rem .5rem .5rem;
}

.dados-pesquisa-alunos .buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 3vh auto 2vh auto;
}

.dados-pesquisa-alunos .buttons input {
  align-items: center;
  border-radius: 0.8rem;
  border-width: 0;
  display: flex;
  font: 700 2rem Archivo;
  height: 5.6rem;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 11.5rem;
}

#btn-pesquisar {
  background: var(--green);
  color: var(--blue);
  margin-right: 1rem;
  width: 20rem;
}

#btn-pesquisar:hover {
  background: #52e728;
  cursor: pointer;
  text-decoration: underline;
}

#btn-limpar {
  background: var(--blue);
  color: #fff;
  margin-left: 1rem;
  width: 20rem;
}

#btn-limpar:hover {
  background-color: #3071f3;
  cursor: pointer;
  text-decoration: underline;
}

.professor {
  grid-area: professor;
}

.ano {
  grid-area: ano;
}

.turma {
  grid-area: turma;
}

.bairro {
  grid-area: bairro;
}

.aluno {
  grid-area: aluno;
}

.rm {
  grid-area: rm;
}

.ra {
  grid-area: ra;
}

.pai {
  grid-area: pai;
}

.mae {
  grid-area: mae;
}

.nee {
  grid-area: nee;
}
